@import '../../variables';

.link {
  padding: $container-padding;
}

.ways {
  padding: $container-padding;
  color: #6b6b6b;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;

  &__link {
    color: #6b6b6b;
    text-decoration: none;
  }
}

.cardList {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  max-width: 944px;
  margin: 0 auto;
  gap: 50px;
  padding: $container-padding;
  margin-bottom: 50px;
}