@import '../../variables';
@import '../../mixins';

// .link {
//   padding: $container-padding;
// }

.ways {
  @include onPhone {
    padding: $container-padding-phone;
  }
  padding: $container-padding;
  color: #6b6b6b;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;

  &__link {
    color: #6b6b6b;
    text-decoration: none;
  }
}

.cardList {
  @include onPhone {
    padding: $container-padding-phone;
    grid-template-columns: repeat(2, auto);
  }

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, auto);
  max-width: 944px;
  margin: 0 auto;
  gap: 50px;
  padding: $container-padding;
  margin-bottom: 50px;
}