@import "../../variables";
@import "../../mixins";

.ways {
  @include onPhone {
    padding: $container-padding-phone;
  }
  padding: $container-padding;
  color: #6b6b6b;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;

  &__link {
    color: #6b6b6b;
    text-decoration: none;
  }
}

.drinkPage {
  @include onPhone {
    flex-direction: column;
    padding: $container-padding-phone;
  }
  display: flex;
  align-items: center;
  padding: $container-padding;
  font-family: "Nunito", sans-serif;
  gap: 50px;

  &__image {
    @include onPhone {
      width: 300px;
      height: 300px;
    }
    width: 500px;
    height: 500px;
  }
}

.infoBlock {
  @include onPhone {
    gap: 10px;
    padding: $container-padding-phone;
  }
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    @include onPhone {
      font-size: 25px;
    }
    font-size: 40px;
  }

  &__weight {
    @include onPhone {
      font-size: 15px;
    }
    color: #797572;
    font-size: 20px;
  }
}

.priceBlock {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  &__text {
    font-size: 30px;
    font-weight: 500;
  }

  &__price {
    font-size: 30px;
    font-weight: 500;
  }
}

.counter {
  @include onPhone {
    width: 300px;
    padding: 5px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: $main-color;

  &__icon {
    width: 40px;
    cursor: pointer;
  }

  &__value {
    font-size: 20px;
  }
}

.cart {
  @include onPhone {
    width: 300px;
    padding: 5px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  gap: 10px;
  border: 2px solid $main-color;
  border-radius: 10px;
  padding: 10px;
  color: $main-color;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    .cart__image,
    .cart__title {
      filter: brightness(0) invert(1);
    }
    background-color: $main-color;
    transition: 0.5s;
  }

  &__title {
    font-size: 20px;
  }
}
