@import '../../variables';
@import '../../mixins';

.cartPage {
  @include onPhone {
    padding: $container-padding-phone;
  }
  display: flex;
  flex-direction: column;
  padding: $container-padding;
  font-family: 'Nunito', sans-serif;

  &__button {
    color: #d4b131;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    transition: .5s;

    &:hover {
      transform: scale(1.1);
      transition: .5s;
    }
  }

  &__title {
    @include onPhone {
      font-size: 30px;
    }
    font-size: 40px;
    margin-bottom: 20px;
  }

  &__content {
    @include onPhone {
      flex-direction: column;
    }
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.checkout {
  @include onPhone {
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 170px;
  border: 1px solid rgb(194, 163, 40);
  background-color: #f6f6f4;
  border-radius: 20px;
  padding: 15px;

  &__item {
    @include onPhone {
      font-size: 13px;
    }
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__positions {
    color: #c2954c;
  }

  &__delivery {
    color: #c2954c;
  }

  &__attention {
    display: flex;
    gap: 10px;
    align-items: center;
    color: red;
    margin-bottom: 15px;
  }

  &__summary {
    @include onPhone {
      font-size: 20px;
    }
    display: flex;
    justify-content: space-between;
    font-size: 23px;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    width: 120px;
    padding: 10px;
    border: 2px solid $main-color;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    color: #000;
    cursor: pointer;

    &_delivery {
      background-color: $main-color;
      transition: .5s;

      &:hover {
        filter: brightness(90%);
        transition: .5s;
      }
    }

    &_selfPickup {
      transition: .5s;

      &:hover {
        background-color: $main-color;
        color: #fff;
        transition: .5s;
      }
    }
  }
}

.emptyCartPage {
  @include onPhone {
    padding: $container-padding-phone;
  }
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;

  &__title {
    @include onPhone {
      font-size: 25px;
    }
    font-size: 40px;
    color: #493900;
    margin-top: 20px;
  }

  &__subtitle {
    @include onPhone {
      font-size: 12px;
    }
    color: #675209;
  }

  &__button {
    @include onPhone {
      padding: 10px;
    }
    background-color: $main-color;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: #d4b131;
    }
  }
}

.customLoader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:2px solid #d4b131;
  position: relative;
  transform-origin: left;
  animation: h2 1s infinite linear;
  margin-top: 20px;

  &::before,::after {
    content: "";
    position: absolute;
    inset:0 0 auto;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 2px solid #d4b131;
    transform-origin: 50% calc(100% - 4px);
    animation: inherit;
  }

  &::after {
    inset: auto 0 calc(100% + 2px);
    animation-duration: 0.5s;
    animation-direction: reverse;
    transform-origin: 50% calc(200% - 2px);
  }

  @keyframes h2{
    100% {transform: rotate(1turn)}
  }
}
