@import "../../variables";
@import "../../mixins";

.cartPage {
  @include onPhone {
    padding: $container-padding-phone;
  }
  @include onTablet {
    padding: $container-padding-tablet;
  }
  display: flex;
  flex-direction: column;

  padding: $container-padding;
  font-family: "Nunito", sans-serif;

  &__button {
    color: #d4b131;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }

  &__title {
    @include onPhone {
      font-size: 30px;
    }
    @include onTablet {
      font-size: 30px;
    }
    font-size: 40px;
    margin-bottom: 20px;
  }

  &__content {
    @include onPhone {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 0;
    }

    &__list {
      width: 100%;
    }
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    justify-items: center;
  }
}

.goBackBlock {
  display: flex;
  align-items: center;
  width: 100px;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: .3s;

  &__text {
    color: $main-color;
  }

  &:hover {
    filter: brightness(70%);
    transition: .3s;
  }
}

.checkout {
  @include onPhone {
    width: calc(100% - 40px);
    bottom: 0;
  }

  @include onTablet {
    width: 100%;
    height: 130px;
    bottom: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  height: 170px;
  border: 2px solid rgb(194, 163, 40);
  background-color: #f6f6f4;
  border-radius: 20px;
  padding: 15px;
  position: sticky;
  right: 5%;
  top: 21%;

  &__item {
    @include onPhone {
      font-size: 13px;
    }
    @include onTablet {
      font-size: 13px;
    }
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__positions {
    color: #c2954c;
  }

  &__delivery {
    color: #c2954c;
  }

  &__attention {
    display: flex;
    gap: 10px;
    align-items: center;
    color: red;
    margin-bottom: 15px;
  }

  &__summary {
    @include onPhone {
      font-size: 20px;
    }

    @include onTablet {
      font-size: 17px;
    }
    display: flex;
    justify-content: space-between;
    font-size: 23px;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    @include onTablet {
      width: 100px;
      padding: 7px;
      font-size: 13px;
    }
    width: 120px;
    padding: 10px;
    border: 2px solid $main-color;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    color: #000;
    cursor: pointer;

    &_delivery {
      background-color: $main-color;
      transition: 0.5s;

      &:hover {
        filter: brightness(90%);
        transition: 0.5s;
      }
    }

    &_selfPickup {
      transition: 0.5s;

      &:hover {
        background-color: $main-color;
        color: #fff;
        transition: 0.5s;
      }
    }
  }
}

.emptyCartPage {
  @include onPhone {
    padding: $container-padding-phone;
  }
  @include onTablet {
    padding: $container-padding-tablet;
  }
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;

  &__title {
    @include onPhone {
      font-size: 25px;
    }
    font-size: 40px;
    color: #493900;
    margin-top: 20px;
  }

  &__subtitle {
    @include onPhone {
      font-size: 12px;
    }
    color: #675209;
  }

  &__button {
    @include onPhone {
      padding: 10px;
    }
    background-color: $main-color;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: #d4b131;
    }
  }
}

.customLoader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #d4b131;
  position: relative;
  transform-origin: left;
  animation: h2 1s infinite linear;
  margin-top: 20px;

  &::before,
  ::after {
    content: "";
    position: absolute;
    inset: 0 0 auto;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 2px solid #d4b131;
    transform-origin: 50% calc(100% - 4px);
    animation: inherit;
  }

  &::after {
    inset: auto 0 calc(100% + 2px);
    animation-duration: 0.5s;
    animation-direction: reverse;
    transform-origin: 50% calc(200% - 2px);
  }

  @keyframes h2 {
    100% {
      transform: rotate(1turn);
    }
  }
}
