@import '../../variables';
@import '../../mixins';

.container {
  @include onPhone {
    padding: 0 30px;
    margin-bottom: 0;
  }
  @include onTablet {
    padding: 0 50px;
    margin-bottom: 0;
  }
  padding: $container-padding;
  margin-bottom: 30px;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nunito', sans-serif;

  &__item {
    @include onPhone {
      display: none;
    }

    @include onTablet {
      display: none;
    }

    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;

    &:hover {
      filter: contrast(20%);
      transition: .3s;
    }
  }


  &__logo {
    @include onPhone {
      width: 70px;
    }

    @include onTablet {
      width: 70px;
    }
    width: 80px;
    padding: 10px 0;
  }
 
  &__gps {
    width: 25px;
    padding-right: 10px;
  }

  &__city {
    color: #000;
  }

  &__clock {
    padding-right: 10px;
    width: 25px;
  }

  &__phone {
    width: 25px;
    padding-right: 10px;
  }

}

.schedule {
  cursor: default;
}

.phoneNumber {
  text-decoration: none;
  color: #000;
}

.cartBlock {
  @include onPhone {
    width: 100px;
    height: 40px;
  }

  @include onTablet {
    width: 100px;
    height: 50px;
  }
  display: flex;
  justify-content: center;
  border: 2px  solid $main-color;
  border-radius: 15px;
  color: $main-color;
  width: 113px;
  height: 55px;
}

.cart {
  width: 30px;
  padding-right: 10px;
}

.cartTitle {
  text-decoration: none;
}

.burgerMenuIcon {
  display: none;
  @include onPhone {
    display: block;
    width: 40px;
    height: 40px;
  }

  @include onTablet{
    display: block;
    width: 40px;
    height: 40px;
  }
}