@import '../../variables';
@import '../../mixins';

.cartItem {
  @include onPhone {
    height: 50px;
    width: 100%;
  }
  @include onTablet {
    height: 70px;
    width: 100%;
    // gap: 5px;
  }
  height: 100px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $main-color;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Nunito';
  margin-bottom: 15px;
  transition: .5s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 30px #f7cd50;
    transition: .5s;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include onPhone {
      font-size: 10px;
    }
    @include onTablet {
      font-size: 15px;
    }
    font-size: 20px;
  }

  &__removeButton {
    @include onPhone {
      height: 20px;
    }
    @include onTablet {
      height: 25px;
    }
    height: 30px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
      transition: .3s;
    }
  }

  &__image {
    @include onPhone {
      height: 50px;
    }
    @include onTablet {
      height: 70px;
    }
    height: 100px;
  }

  &__weight {
    @include onPhone {
      font-size: 10px;
    }
    @include onTablet {
      font-size: 12px;
    }
    color: #696969;
  }

  &__price {
    @include onPhone {
      font-size: 15px;
    }
    @include onTablet {
      font-size: 17px;
    }
    font-size: 20px;
  }
}

.counter {
  @include onPhone {
    width: 70px;
    height: 20px;
    padding: 5px;
  }

  @include onTablet{
    width: 100px;
    height: 25px;
    padding: 5px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 30px;
  padding: 10px;
  border-radius: 30px;
  background-color: #f2ecd7;

  &__icon {
    @include onPhone {
      width: 17px;
    }

    @include onTablet {
      width: 25px;
    }
    width: 40px;
    cursor: pointer;
  }

  &__value {
    @include onPhone {
      font-size: 10px;
    }

    @include onTablet {
      font-size: 15px;
    }
    font-size: 20px;
  }
}